body{
  width: 1080px;
  margin: 0 auto;
  font-family: 'Arial';
}

h1{
  color: black;
  font-style: italic;
}

h2{
  color: black;
  font-style: Arial;
}

h3{
  color: black;
  font-style: Arial;
}

.mudaCor{
  background-image: linear-gradient(to bottom, white, red);
}
